@use "../variables" as v;
@use "./mixins" as m;

//@layer base, components, default, utilities;
@layer reset, base, layout, bootstrap, utilities, components;

@layer base {
  .article__blog {
    margin-inline: auto;
    font-size: 1.2rem;
  }

  .blog__container {
    container-type: inline-size;
    container-name: blog;
    background-color: rgba(v.$bg-light, 0.8);
    border-radius: 5px;
  }
}

@layer layout {
  @container blog (min-width: 800px) {
    .article__blog,
    .blog__container {
      width: 80%;
    }
  }

  @container blog (min-width: 1200px) {
    .blog__blockqoute {
      float: left;
      width: 40%;
      padding-right: 20px;
      margin: 20px 0;
    }

    .blog__text {
      font-size: 1.6rem;
    }

    .blog__item {
      display: block;
      font-size: 1.2rem;
      border-bottom: 1px solid v.$text-color-dark;
    }

    .blog__blockqoute:has(.blockquote__text) {
      font-size: 1.75rem;
    }
  }
}

@layer bootstrap {
  h2 {
    font-size: 1.325rem;
  }
}

@layer utilities {
  :is(.blog__title, .blog__container, .blog__blockqoute) {
    padding: 20px;
  }
  :is(
      .blog__figure,
      .blog__title,
      .blog__container,
      .blog__blockqoute,
      .blog__list-title,
      .blog__list
    ) {
    margin: 20px;
  }

  .blog__blockqoute:has(.blockquote__text cite) {
    font-style: italic;
    border-color: v.$highlight-color;
  }
}

@media (min-width: 800px) {
  .blog__container,
  .blog__title {
    width: 85%;
    margin-inline: auto;
  }
}

@layer components {
  .blog__title {
    margin-bottom: 40px !important; 
    font-size: 2.8rem !important;
    text-align: center;
    background-color: rgba(v.$bg-light, 0.8);
  }

  .blog__image {
    border-radius: 5px;
  }

  .blog__list {
    padding: 0 !important;
  }

  .blog__item {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid v.$text-color-dark;
  }

  .blog__blockqoute {
    margin-left: 50px;
    font-size: 1.5rem;
    border-left: 4px solid v.$text-color-dark;
  }
}


