@use "../variables" as v;
@use "./mixins" as m;
@use "bootstrap/scss/bootstrap" as b;

@layer reset, base, bootstrap, components, layout;

@layer base {
  .article__cards {
    container: inline-size;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
}

@layer components {
  .card {
    padding: 20px;
    color: v.$text-color-dark;
    background-color: rgba(v.$bg-light, 0.8);
    border-radius: 5px;

    .card__title {
      @include m.box-center;
      font-weight: 700 !important;
      background-color: v.$button-bg-color;
    }

    .card__text {
      font-size: 1.5rem;
    }

    .card__image {
      width: 300px;
      height: 300px;
      margin-inline: auto;
      margin-bottom: 10px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

@layer layout {
  @container (min-width: 800px) {
    .article__cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  
      .card {
        flex: 1 1 clamp(350px, 30%, 500px);
        min-width: 350px; 
        max-width: 500px; 
      }
    }
  }
}
