@use "../variables" as v;
@use "./mixins" as m;


.registraton__container {
  container-type: inline-size;
  width: 85%;
  margin-inline: auto;
}

.article__text {
  padding: 20px;
  margin-inline: auto; 
  margin-bottom: 20px; 
  font-size: 1.2rem; 
  background-color: color(display-p3 1.0001 1 0.9999 / 0.8);
  border-radius: .5px; 
}

@container (min-width: 800px) {
  .article__text {
    width: 80cqw;
    padding: 5cqw;
    margin-inline: auto;
    margin-bottom: 5cqh; 
    font-size: 2cqw; 
    border-radius: 0.5cqw;
  }
}

.fa-comment {
  margin-right: 10px;
}

.fa-arrow-right {
  margin-left: 10px;
}
