@use "../variables";

.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $text-color-light;
  background-color: $bg-dark;

  .header__logo {
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    .fa-copyright {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 800px) {
    .header__logo {
      font-size: 3rem;
    }
  }

  .header__nav {
    text-align: center;
  
    .nav__item {
      display: block;
      padding: 20px 0;

      .nav__link {
        padding: 10px 20px;
        font-size: 1.25rem;
        color: $text-color-light;
        letter-spacing: 2px;
        border-radius: 5px;
        transition: background-color 0.1s, color 0.1s;

        &:hover {
          color: $text-color-dark;
          background-color: $highlight-color;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

