@use "../variables" as v;

.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: v.$bg-dark;

  .header__logo {
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 700;
    color: v.$text-color-light;
    text-align: center;

    .fa-copyright {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 800px) {
    .header__logo {
      font-size: 3rem;
    }
  }

  .header__nav {
    text-align: center;

    .nav__list {
      padding: 0;

      .nav__item {
        display: block;
        padding: 20px 0;
  
        .nav__link {
          display: block;
          padding: 10px 20px;
          font-size: 1.25rem;
          letter-spacing: 2px;
          border-radius: 5px;
          transition: background-color 0.1s, color 0.1s;
  
          &:hover {
            color: v.$text-color-dark;
            background-color: v.$highlight-color;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

