@function gradientColor($colors, $type) {
  @if $type == linear {
    @return linear-gradient($colors);
  } @else if $type == radial {
    @return radial-gradient($colors);
  }
}

$gradient: gradientColor(($bg-primary, $bg-secondary), radial);

.main {
  padding-bottom: 50px;
  background: $gradient;
  container: title / inline-size;
}

.article__title {
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-color: $button-bg-color;
}

@container title (min-width: 800px) {
  .article__title {
    font-size: 3rem;
  }
}
