@use "../variables" as v;

.poster {
  background-image: url("../images/bg_index.jpg");
  background-size: cover;
}

.poster__logo {
  padding: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: v.$text-color-light;
  text-align: center;
  background-color: v.$bg-dark;

  .fa-copyright {
    margin-right: 20px;
  }
}

.poster__nav {
  padding: 20px;
  text-align: center;
  background-color: v.$bg-dark;

  .poster__nav-list {
    padding: 0;
  
    .nav__item {
      display: block;
      padding: 10px 0;
      margin-bottom: 10px;
      font-weight: 700;
      color: v.$text-color-light;
      border-radius: 5px;

      &:hover {
        background-color: v.$highlight-color;
      }
    }
    
    .nav__link {
      color: v.$text-color-light;
    }
    
    .nav__item:hover .nav__link {
      color: v.$text-color-dark;
    }
  }

}

.poster__title {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: v.$text-color-dark;
  text-align: center;
  background-color: v.$bg-light;
  container-type: inline-size;

  .poster__title-first {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .poster__title-green {
    display: block;
    padding: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: v.$text-color-light;
    text-align: center;
    background-color: v.$button-bg-color;
  }
}

.poster__text {
  padding: 20px;
  margin: 0;
  font-size: .9rem;
  color: v.$text-color-light;
  background-color: v.$bg-dark;
}

.poster__contact {
  padding: 20px;
  text-align: center;

  .poster__contact-list {
    width: 100%;
    padding: 0;

    .contact__item {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      color: v.$text-color-light;
      background-color: v.$bg-dark;
      border: v.$border-white;
    
      &:hover {
        border: 3px solid v.$highlight-color;
        box-shadow: 0 0 5px v.$highlight-color;
      }
    }
    .contact__link {
      color: v.$text-color-light;
    }
    
    .contact__item:hover .contact__link {
      color: v.$highlight-color;
    }
  }
}

.poster__social-media {
  padding: 20px;
  color: v.$text-color-light;
  text-align: center;
  background-color: v.$accent-purple;

  .poster__social-media-list {
    padding: 20px;
    margin: 0;

    .social-media__link {
      padding: 10px;
      margin: 0 10px;
      font-size: 2rem;
      color: v.$text-color-light;
    
      &:hover {
        color: v.$highlight-color;
      }
    }
  }
}

@media (min-width: 800px) {
  .poster {
    min-height: 100vh;
  }

  .poster__text {
    font-size: 1.2rem;
  }

  :is(.poster__title, .poster__text, .poster__contact) {
    width: 70%;
    margin-inline: auto;
  }
}

@supports (display: grid) {
  .poster__title {
    margin-bottom: 50px;
  }

  @media (min-width: 800px) {
    .poster {
      display: grid;
      grid-template-rows: repeat(6, 15vh);
      grid-template-columns: repeat(auto-fit, minmax(12vw, 1fr));
      gap: 10px;
      padding: 25px;
    }

    .poster__logo {
      grid-row: 1 / 7;
      grid-column: 1 / 2;
      align-content: center;
      font-size: 2.75rem;
      writing-mode: vertical-rl;
      text-orientation: upright;

      .fa-copyright {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .poster__nav {
      grid-row: 4 / 5;
      grid-column: 2 / 5;
      padding: 0;
      margin: 0;

      .poster__nav-list {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 100%;

        .nav__item {
          align-content: center;
          padding: 0;
          margin-bottom: 0;
          font-size: 1rem;
        }
      }
    }

    .poster__title {
      grid-row: 1 / 3;
      grid-column: 2 / 6;
      align-content: center;
      width: 100%;
      margin: 0;
    }

    .poster__text {
      grid-row: 3 / 4;
      grid-column: 3 / 7;
      align-content: center;
      width: 100%;
      font-size: 1rem;
      text-align: right;
    }

    .poster__contact {
      grid-row: 5 / 6;
      grid-column: 3 / 6;
      width: 100%;
      padding: 0;
      margin: 0;

      .poster__contact-list {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        height: 100%;

        .contact__item {
          align-content: center;
          height: 100%;
          padding: 10px;
          font-size: .9rem;
          font-weight: 700;
          border: none;
        }
      }
    }

    .poster__social-media {
      grid-row: 6 / 7;
      grid-column: 4 / 7;

      .poster__social-media-list {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 100%;

        .social-media__item {
          align-content: center;
        }
      }
    }
  }
}
