<footer class="footer">
  <ul class="footer__contact-list">
    <li class="contact__item"><a href="mailto:contact@securedigital.com" class="contact__link" target="_blank">Contácta por Email</a></li>
    <li class="contact__item"><a href="tel:+123456789" class="contact__link" target="_blank">Lláma al +34 666 888 000</a></li>
    <li class="contact__item"><a href="https://ejemplo.com/politica-privacidad" class="contact__link" target="_blank">Política de Privacidad</a></li>
  </ul>
  <div class="footer__logo"><i class="fa-regular fa-copyright"></i>SECURE DIGITAL</div>
  <ul class="footer__nav-list">
    <li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
    <li class="nav__item"><a class="nav__link" href="speakers.html">Speakers</a></li>
    <li class="nav__item"><a class="nav__link" href="blog.html">Blog</a></li>
    <li class="nav__item"><a class="nav__link" href="registration.html">Registration</a></li>
  </ul>
  <ul class="footer__social-media-list">
    <li class="social-media__item"><a class="social-media__link" href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
    <li class="social-media__item"><a class="social-media__link" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li class="social-media__item"><a class="social-media__link" href="https://x.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
  </ul>
</footer>
