@use "sass:color";

$font-family-body: "Verdana", sans-serif;; // Si es la fuente principal del cuerpo del texto$
$bg-primary: #5948de; // Color principal de fondo
$bg-secondary: #311550; // Fondo secundario más oscuro
$bg-light: #fff;
$bg-dark: #000;
$button-bg-color: #69be5f; // Color de énfasis o resaltado
$card-bg-color: #552964; // Fondo de las tarjetas
$highlight-color: #80FF00; // Fondo del botón
$text-color-light: #fff; // Color de texto blanco
$text-color-dark: #000;  // Color de texto negro
$accent-purple: #CC2DE1; // Color morado de acento
$border-white: 1px solid $text-color-light;
$box-shadow: 5px 5px 10px rgba($bg-dark, 0.15);

// Bootstrap colors

$theme-colors: (
  "primary": $bg-primary, // Color principal (negro)
  "secondary": $bg-secondary, // Color secundario
  "card-bg": $card-bg-color,
  "text-light": $text-color-light, // Texto claro
  "text-dark": $text-color-dark,  // Texto oscuro
  "highlight": $highlight-color, // Color de acento (morado)
  "button-bg": $button-bg-color,
  "purple": $accent-purple // Fondo del botón (rojo)
);
